*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
    color: white;
}
body {
    line-height: 1.6;
    letter-spacing: 0;
    background-color: #011fa4;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
a {
    line-height: 1.2;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2.2rem;
}

p {
    font-weight: 500;
    font-size: 1.6rem;
}

a {
    font-weight: 700;
    font-size: 1.7rem;
    padding: 0;
    padding: 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 35px;
}

a:hover{
    background-color: #1636c7;
}

a:active{
    background-color: #4564f5;
}